<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.poilt.mapper.fastpay.CardMapper">
	<resultMap id="cardMap" type="com.poilt.model.fastpay.Card">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="mer_no" jdbcType="VARCHAR" property="merNo" />
		<result column="open_id" jdbcType="VARCHAR" property="openId" />
		<result column="id_card" jdbcType="CHAR" property="idCard" />
		<result column="phone" jdbcType="CHAR" property="phone" />
		<result column="card_no" jdbcType="VARCHAR" property="cardNo" />
		<result column="card_type" jdbcType="CHAR" property="cardType" />
		<result column="card_name" jdbcType="VARCHAR" property="cardName" />
		<result column="cvn2" jdbcType="CHAR" property="cvn2" />
		<result column="expired" jdbcType="CHAR" property="expired" />
		<result column="bank_name" jdbcType="VARCHAR" property="bankName" />
		<result column="card_province" jdbcType="VARCHAR" property="cardProvince" />
		<result column="card_city" jdbcType="VARCHAR" property="cardCity" />
		<result column="bank_sub_name" jdbcType="VARCHAR" property="bankSubName" />
		<result column="bank_channel_no" jdbcType="VARCHAR" property="bankChannelNo" />
		<result column="bank_code" jdbcType="VARCHAR" property="bankCode" />
		<result column="bank_abbr" jdbcType="VARCHAR" property="bankAbbr" />
		<result column="card_status" jdbcType="CHAR" property="cardStatus" />
		<result column="use_type" jdbcType="CHAR" property="useType" />
		<result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
		<result column="trace_no" jdbcType="VARCHAR" property="traceNo" />
		<result column="order_no" jdbcType="VARCHAR" property="orderNo" />
	</resultMap>

	<select id="findByCardNo" resultMap="cardMap">
		select * from card where open_id = #{openId} and card_no = #{cardNo}
	</select>
	
	<select id="findByOpenId" resultMap="cardMap">
		select * from card where open_id = #{openId} and use_type = #{useType}
	</select>
	
	<select id="selectMap" resultType="map">
		select concat(card_no,',',bank_code,',',bank_abbr,',',bank_name) value, concat('(',insert(card_no, 5, 8, '****'),')',bank_name) title 
			from card 
			where 
			open_id = #{openId} 
			and card_type = '2' and card_status='2'
	</select>

	<insert id="insert" parameterType="com.poilt.model.fastpay.Card"
		useGeneratedKeys="true" keyProperty="id">
		insert into card
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="merNo != null">
				mer_no,
			</if>
			<if test="openId != null">
				open_id,
			</if>
			<if test="idCard != null">
				id_card,
			</if>
			<if test="phone != null">
				phone,
			</if>
			<if test="cardNo != null">
				card_no,
			</if>
			<if test="cardType != null">
				card_type,
			</if>
			<if test="cardName != null">
				card_name,
			</if>
			<if test="cvn2 != null">
				cvn2,
			</if>
			<if test="expired != null">
				expired,
			</if>
			<if test="bankName != null">
				bank_name,
			</if>
			<if test="cardProvince != null">
				card_province,
			</if>
			<if test="cardCity != null">
				card_city,
			</if>
			<if test="bankSubName != null">
				bank_sub_name,
			</if>
			<if test="bankChannelNo != null">
				bank_channel_no,
			</if>
			<if test="bankCode != null">
				bank_code,
			</if>
			<if test="bankAbbr != null">
				bank_abbr,
			</if>
			<if test="cardStatus != null">
				card_status,
			</if>
			<if test="useType != null">
				use_type,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="traceNo != null">
				trace_no,
			</if>
			<if test="orderNo != null">
				order_no,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="merNo != null">
				#{merNo,jdbcType=VARCHAR},
			</if>
			<if test="openId != null">
				#{openId,jdbcType=VARCHAR},
			</if>
			<if test="idCard != null">
				#{idCard,jdbcType=CHAR},
			</if>
			<if test="phone != null">
				#{phone,jdbcType=CHAR},
			</if>
			<if test="cardNo != null">
				#{cardNo,jdbcType=VARCHAR},
			</if>
			<if test="cardType != null">
				#{cardType,jdbcType=VARCHAR},
			</if>
			<if test="cardName != null">
				#{cardName,jdbcType=VARCHAR},
			</if>
			<if test="cvn2 != null">
				#{cvn2,jdbcType=CHAR},
			</if>
			<if test="expired != null">
				#{expired,jdbcType=CHAR},
			</if>
			<if test="bankName != null">
				#{bankName,jdbcType=VARCHAR},
			</if>
			<if test="cardProvince != null">
				#{cardProvince,jdbcType=VARCHAR},
			</if>
			<if test="cardCity != null">
				#{cardCity,jdbcType=VARCHAR},
			</if>
			<if test="bankSubName != null">
				#{bankSubName,jdbcType=VARCHAR},
			</if>
			<if test="bankChannelNo != null">
				#{bankChannelNo,jdbcType=VARCHAR},
			</if>
			<if test="bankCode != null">
				#{bankCode,jdbcType=VARCHAR},
			</if>
			<if test="bankAbbr != null">
				#{bankAbbr,jdbcType=VARCHAR},
			</if>
			<if test="cardStatus != null">
				#{cardStatus,jdbcType=CHAR},
			</if>
			<if test="useType != null">
				#{useType,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="traceNo != null">
				#{traceNo,jdbcType=VARCHAR},
			</if>
			<if test="orderNo != null">
				#{orderNo,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>

	<update id="update" parameterType="com.poilt.model.fastpay.Card">
		update card
		<set>
			<if test="idCard != null">
				id_card = #{idCard,jdbcType=VARCHAR},
			</if>
			<if test="phone != null">
				phone = #{phone,jdbcType=CHAR},
			</if>
			<if test="cardNo != null">
				card_no = #{cardNo,jdbcType=CHAR},
			</if>
			<if test="cardType != null">
				card_type = #{cardType,jdbcType=VARCHAR},
			</if>
			<if test="cvn2 != null">
				cvn2 = #{cvn2,jdbcType=CHAR},
			</if>
			<if test="expired != null">
				expired = #{expired,jdbcType=CHAR},
			</if>
			<if test="bankName != null">
				bank_name = #{bankName,jdbcType=VARCHAR},
			</if>
			<if test="cardProvince != null">
				card_province = #{cardProvince,jdbcType=VARCHAR},
			</if>
			<if test="cardCity != null">
				card_city = #{cardCity,jdbcType=VARCHAR},
			</if>
			<if test="bankSubName != null">
				bank_sub_name = #{bankSubName,jdbcType=VARCHAR},
			</if>
			<if test="bankChannelNo != null">
				bank_channel_no = #{bankChannelNo,jdbcType=VARCHAR},
			</if>
			<if test="bankCode != null">
				bank_code = #{bankCode,jdbcType=VARCHAR},
			</if>
			<if test="bankAbbr != null">
				bank_abbr = #{bankAbbr,jdbcType=VARCHAR},
			</if>
			<if test="cardStatus != null">
				card_status = #{cardStatus,jdbcType=CHAR},
			</if>
			<if test="useType != null">
				use_type = #{useType,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="traceNo != null">
				trace_no = #{traceNo,jdbcType=VARCHAR},
			</if>
			<if test="orderNo != null">
				order_no = #{orderNo,jdbcType=VARCHAR},
			</if>
		</set>
		where card_no = #{cardNo,jdbcType=VARCHAR} 
		<if test="openId != null">
			and open_id = #{openId,jdbcType=VARCHAR}
		</if>
		<if test="merNo != null">
			and mer_no = #{merNo,jdbcType=VARCHAR}
		</if>
	</update>
	
	<update id="updateStatus" parameterType="com.poilt.model.fastpay.Card">
		update card
		   set card_status = #{cardStatus,jdbcType=CHAR}
		 where mer_no = #{merNo,jdbcType=VARCHAR}
		   and trace_no = #{traceNo,jdbcType=VARCHAR}
		   and order_no = #{orderNo,jdbcType=VARCHAR}
	</update>

</mapper>