<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.poilt.mapper.fastpay.MerchMapper">
	<resultMap id="merchMap" type="com.poilt.model.fastpay.Merch">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="open_id" jdbcType="VARCHAR" property="openId" />
		<result column="mer_name" jdbcType="VARCHAR" property="merName" />
		<result column="name" jdbcType="VARCHAR" property="name" />
		<result column="phone" jdbcType="CHAR" property="phone" />
		<result column="id_card" jdbcType="CHAR" property="idCard" />
		<result column="credit_rate" jdbcType="DOUBLE" property="creditRate" />
		<result column="credit_fee" jdbcType="DOUBLE" property="creditFee" />
		<result column="history_total" jdbcType="DOUBLE" property="historyTotal" />
		<result column="referrer" jdbcType="VARCHAR" property="referrer" />
		<result column="atten_state" jdbcType="CHAR" property="attenState" />
		<result column="tied_card" jdbcType="CHAR" property="tiedCard" />
		<result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
	</resultMap>

	<select id="findByOpenId" resultMap="merchMap">
		select * from merch where open_id = #{openId}
	</select>

	<insert id="insert" parameterType="com.poilt.model.fastpay.Merch"
		useGeneratedKeys="true" keyProperty="id">
		insert into merch
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="openId != null">
				open_id,
			</if>
			<if test="merName != null">
				mer_name,
			</if>
			<if test="name != null">
				name,
			</if>
			<if test="idCard != null">
				id_card,
			</if>
			<if test="creditRate != null">
				credit_rate,
			</if>
			<if test="creditFee != null">
				credit_fee,
			</if>
			<if test="historyTotal != null">
				history_total,
			</if>
			<if test="referrer != null">
				referrer,
			</if>
			<if test="attenState != null">
				atten_state,
			</if>
			<if test="tiedCard != null">
				tied_card,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="openId != null">
				#{openId,jdbcType=VARCHAR},
			</if>
			<if test="merName != null">
				#{merName,jdbcType=VARCHAR},
			</if>
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="phone != null">
				#{phone,jdbcType=CHAR},
			</if>
			<if test="idCard != null">
				#{idCard,jdbcType=CHAR},
			</if>
			<if test="creditRate != null">
				#{creditRate,jdbcType=DOUBLE},
			</if>
			<if test="creditFee != null">
				#{creditFee,jdbcType=DOUBLE},
			</if>
			<if test="historyTotal != null">
				#{historyTotal,jdbcType=DOUBLE},
			</if>
			<if test="referrer != null">
				#{referrer,jdbcType=VARCHAR},
			</if>
			<if test="attenState != null">
				#{attenState,jdbcType=CHAR},
			</if>
			<if test="tiedCard != null">
				#{tiedCard,jdbcType=CHAR},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>

	<update id="update" parameterType="com.poilt.model.fastpay.Merch">
		update merch
		<set>
			<if test="merName != null">
				mer_name = #{merName,jdbcType=VARCHAR},
			</if>
			<if test="name != null">
				name = #{name,jdbcType=VARCHAR},
			</if>
			<if test="phone != null">
				phone = #{phone,jdbcType=CHAR},
			</if>
			<if test="idCard != null">
				id_card = #{idCard,jdbcType=CHAR},
			</if>
			<if test="creditRate != null">
				credit_rate = #{creditRate,jdbcType=DOUBLE},
			</if>
			<if test="creditFee != null">
				credit_fee = #{creditFee,jdbcType=DOUBLE},
			</if>
			<if test="historyTotal != null">
				history_total = #{historyTotal,jdbcType=DOUBLE},
			</if>
			<if test="referrer != null">
				referrer = #{referrer,jdbcType=VARCHAR},
			</if>
			<if test="attenState != null">
				atten_state = #{attenState,jdbcType=CHAR},
			</if>
			<if test="tiedCard != null">
				tied_card = #{tiedCard,jdbcType=CHAR},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
		</set>
		where open_id = #{openId,jdbcType=VARCHAR}
	</update>

</mapper>