<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.poilt.mapper.fastpay.MerchMapper">
  <resultMap id="BaseResultMap" type="com.poilt.model.fastpay.Merch">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="mer_name" jdbcType="VARCHAR" property="merName" />
    <result column="mer_abbr" jdbcType="VARCHAR" property="merAbbr" />
    <result column="id_card_no" jdbcType="VARCHAR" property="idCardNo" />
    <result column="open_id" jdbcType="VARCHAR" property="openId" />
    <result column="credit_rate" jdbcType="CHAR" property="creditRate" />
    <result column="history_total" jdbcType="INTEGER" property="historyTotal" />
    <result column="credit_fee" jdbcType="INTEGER" property="creditFee" />
    <result column="referrer" jdbcType="VARCHAR" property="referrer" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="mer_uuid" jdbcType="VARCHAR" property="merUuid" />
    <result column="mer_no" jdbcType="VARCHAR" property="merNo" />
    <result column="atten_state" jdbcType="CHAR" property="attenState" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, mer_name, mer_abbr, id_card_no, open_id, credit_rate, history_total, credit_fee, 
    referrer, create_time, mer_uuid, mer_no, atten_state
  </sql>
  <select id="selectByExample" parameterType="com.poilt.model.fastpay.MerchExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from merch
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from merch
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from merch
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.poilt.model.fastpay.MerchExample">
    delete from merch
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.poilt.model.fastpay.Merch" useGeneratedKeys="true" keyProperty="id">
    insert into merch (id, mer_name, mer_abbr, 
      id_card_no, open_id, credit_rate, 
      history_total, credit_fee, referrer, 
      create_time, mer_uuid, mer_no, 
      atten_state)
    values (#{id,jdbcType=INTEGER}, #{merName,jdbcType=VARCHAR}, #{merAbbr,jdbcType=VARCHAR}, 
      #{idCardNo,jdbcType=VARCHAR}, #{openId,jdbcType=VARCHAR}, #{creditRate,jdbcType=CHAR}, 
      #{historyTotal,jdbcType=INTEGER}, #{creditFee,jdbcType=INTEGER}, #{referrer,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{merUuid,jdbcType=VARCHAR}, #{merNo,jdbcType=VARCHAR}, 
      #{attenState,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.poilt.model.fastpay.Merch" useGeneratedKeys="true" keyProperty="id">
    insert into merch
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="merName != null">
        mer_name,
      </if>
      <if test="merAbbr != null">
        mer_abbr,
      </if>
      <if test="idCardNo != null">
        id_card_no,
      </if>
      <if test="openId != null">
        open_id,
      </if>
      <if test="creditRate != null">
        credit_rate,
      </if>
      <if test="historyTotal != null">
        history_total,
      </if>
      <if test="creditFee != null">
        credit_fee,
      </if>
      <if test="referrer != null">
        referrer,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="merUuid != null">
        mer_uuid,
      </if>
      <if test="merNo != null">
        mer_no,
      </if>
      <if test="attenState != null">
        atten_state,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="merName != null">
        #{merName,jdbcType=VARCHAR},
      </if>
      <if test="merAbbr != null">
        #{merAbbr,jdbcType=VARCHAR},
      </if>
      <if test="idCardNo != null">
        #{idCardNo,jdbcType=VARCHAR},
      </if>
      <if test="openId != null">
        #{openId,jdbcType=VARCHAR},
      </if>
      <if test="creditRate != null">
        #{creditRate,jdbcType=CHAR},
      </if>
      <if test="historyTotal != null">
        #{historyTotal,jdbcType=INTEGER},
      </if>
      <if test="creditFee != null">
        #{creditFee,jdbcType=INTEGER},
      </if>
      <if test="referrer != null">
        #{referrer,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="merUuid != null">
        #{merUuid,jdbcType=VARCHAR},
      </if>
      <if test="merNo != null">
        #{merNo,jdbcType=VARCHAR},
      </if>
      <if test="attenState != null">
        #{attenState,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.poilt.model.fastpay.MerchExample" resultType="java.lang.Integer">
    select count(*) from merch
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update merch
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.merName != null">
        mer_name = #{record.merName,jdbcType=VARCHAR},
      </if>
      <if test="record.merAbbr != null">
        mer_abbr = #{record.merAbbr,jdbcType=VARCHAR},
      </if>
      <if test="record.idCardNo != null">
        id_card_no = #{record.idCardNo,jdbcType=VARCHAR},
      </if>
      <if test="record.openId != null">
        open_id = #{record.openId,jdbcType=VARCHAR},
      </if>
      <if test="record.creditRate != null">
        credit_rate = #{record.creditRate,jdbcType=CHAR},
      </if>
      <if test="record.historyTotal != null">
        history_total = #{record.historyTotal,jdbcType=INTEGER},
      </if>
      <if test="record.creditFee != null">
        credit_fee = #{record.creditFee,jdbcType=INTEGER},
      </if>
      <if test="record.referrer != null">
        referrer = #{record.referrer,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.merUuid != null">
        mer_uuid = #{record.merUuid,jdbcType=VARCHAR},
      </if>
      <if test="record.merNo != null">
        mer_no = #{record.merNo,jdbcType=VARCHAR},
      </if>
      <if test="record.attenState != null">
        atten_state = #{record.attenState,jdbcType=CHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update merch
    set id = #{record.id,jdbcType=INTEGER},
      mer_name = #{record.merName,jdbcType=VARCHAR},
      mer_abbr = #{record.merAbbr,jdbcType=VARCHAR},
      id_card_no = #{record.idCardNo,jdbcType=VARCHAR},
      open_id = #{record.openId,jdbcType=VARCHAR},
      credit_rate = #{record.creditRate,jdbcType=CHAR},
      history_total = #{record.historyTotal,jdbcType=INTEGER},
      credit_fee = #{record.creditFee,jdbcType=INTEGER},
      referrer = #{record.referrer,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      mer_uuid = #{record.merUuid,jdbcType=VARCHAR},
      mer_no = #{record.merNo,jdbcType=VARCHAR},
      atten_state = #{record.attenState,jdbcType=CHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.poilt.model.fastpay.Merch">
    update merch
    <set>
      <if test="merName != null">
        mer_name = #{merName,jdbcType=VARCHAR},
      </if>
      <if test="merAbbr != null">
        mer_abbr = #{merAbbr,jdbcType=VARCHAR},
      </if>
      <if test="idCardNo != null">
        id_card_no = #{idCardNo,jdbcType=VARCHAR},
      </if>
      <if test="openId != null">
        open_id = #{openId,jdbcType=VARCHAR},
      </if>
      <if test="creditRate != null">
        credit_rate = #{creditRate,jdbcType=CHAR},
      </if>
      <if test="historyTotal != null">
        history_total = #{historyTotal,jdbcType=INTEGER},
      </if>
      <if test="creditFee != null">
        credit_fee = #{creditFee,jdbcType=INTEGER},
      </if>
      <if test="referrer != null">
        referrer = #{referrer,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="merUuid != null">
        mer_uuid = #{merUuid,jdbcType=VARCHAR},
      </if>
      <if test="merNo != null">
        mer_no = #{merNo,jdbcType=VARCHAR},
      </if>
      <if test="attenState != null">
        atten_state = #{attenState,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.poilt.model.fastpay.Merch">
    update merch
    set mer_name = #{merName,jdbcType=VARCHAR},
      mer_abbr = #{merAbbr,jdbcType=VARCHAR},
      id_card_no = #{idCardNo,jdbcType=VARCHAR},
      open_id = #{openId,jdbcType=VARCHAR},
      credit_rate = #{creditRate,jdbcType=CHAR},
      history_total = #{historyTotal,jdbcType=INTEGER},
      credit_fee = #{creditFee,jdbcType=INTEGER},
      referrer = #{referrer,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      mer_uuid = #{merUuid,jdbcType=VARCHAR},
      mer_no = #{merNo,jdbcType=VARCHAR},
      atten_state = #{attenState,jdbcType=CHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>