<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.poilt.mapper.fastpay.TradeLogMapper">
	<resultMap id="tradeMap" type="com.poilt.model.fastpay.TradeLog">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="open_id" jdbcType="VARCHAR" property="openId" />
		<result column="trade_no" jdbcType="VARCHAR" property="tradeNo" />
		<result column="order_no" jdbcType="VARCHAR" property="orderNo" />
		<result column="trade_amt" jdbcType="INTEGER" property="tradeAmt" />
		<result column="user_name" jdbcType="VARCHAR" property="userName" />
		<result column="id_card" jdbcType="VARCHAR" property="idCard" />
		<result column="bank_code" jdbcType="VARCHAR" property="bankCode" />
		<result column="bank_abbr" jdbcType="VARCHAR" property="bankAbbr" />
		<result column="bank_name" jdbcType="VARCHAR" property="bankName" />
		<result column="pay_card_no" jdbcType="VARCHAR" property="payCardNo" />
		<result column="trade_time" jdbcType="TIMESTAMP" property="tradeTime" />
		<result column="status" jdbcType="CHAR" property="status" />
		<result column="status_des" jdbcType="VARCHAR" property="statusDes" />
		<result column="trace_no" jdbcType="VARCHAR" property="traceNo" />
		<result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
	</resultMap>

	<select id="select" resultMap="tradeMap">
		select t.*,(select name from dictionary where type='trade_status' and value=t.status) status_des 
		from trade_log t where t.open_id = #{openId} order by t.create_time desc
	</select>
	
	<select id="findByTradeNo" resultMap="tradeMap">
		select * from trade_log where open_id = #{openId} and trade_no = #{tradeNo}
	</select>

	<insert id="insert" parameterType="com.poilt.model.fastpay.TradeLog"
		useGeneratedKeys="true" keyProperty="id">
		insert into trade_log
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="openId != null">
				open_id,
			</if>
			<if test="tradeNo != null">
				trade_no,
			</if>
			<if test="orderNo != null">
				order_no,
			</if>
			<if test="tradeAmt != null">
				trade_amt,
			</if>
			<if test="userName != null">
				user_name,
			</if>
			<if test="idCard != null">
				id_card,
			</if>
			<if test="bankCode != null">
				bank_code,
			</if>
			<if test="bankAbbr != null">
				bank_abbr,
			</if>
			<if test="bankName != null">
				bank_name,
			</if>
			<if test="payCardNo != null">
				pay_card_no,
			</if>
			<if test="tradeTime != null">
				trade_time,
			</if>
			<if test="status != null">
				status,
			</if>
			<if test="traceNo != null">
				trace_no,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="openId != null">
				#{openId,jdbcType=VARCHAR},
			</if>
			<if test="tradeNo != null">
				#{tradeNo,jdbcType=VARCHAR},
			</if>
			<if test="orderNo != null">
				#{orderNo,jdbcType=VARCHAR},
			</if>
			<if test="tradeAmt != null">
				#{tradeAmt,jdbcType=INTEGER},
			</if>
			<if test="userName != null">
				#{userName,jdbcType=VARCHAR},
			</if>
			<if test="idCard != null">
				#{idCard,jdbcType=VARCHAR},
			</if>
			<if test="bankCode != null">
				#{bankCode,jdbcType=VARCHAR},
			</if>
			<if test="bankAbbr != null">
				#{bankAbbr,jdbcType=VARCHAR},
			</if>
			<if test="bankName != null">
				#{bankName,jdbcType=VARCHAR},
			</if>
			<if test="payCardNo != null">
				#{payCardNo,jdbcType=VARCHAR},
			</if>
			<if test="tradeTime != null">
				#{tradeTime,jdbcType=TIMESTAMP},
			</if>
			<if test="status != null">
				#{status,jdbcType=CHAR},
			</if>
			<if test="traceNo != null">
				#{traceNo,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>


	<update id="update" parameterType="com.poilt.model.fastpay.TradeLog">
		update trade_log
		<set>
			<if test="tradeNo != null">
				trade_no = #{tradeNo,jdbcType=VARCHAR},
			</if>
			<if test="orderNo != null">
				order_no = #{orderNo,jdbcType=VARCHAR},
			</if>
			<if test="tradeAmt != null">
				trade_amt = #{tradeAmt,jdbcType=INTEGER},
			</if>
			<if test="userName != null">
				user_name = #{userName,jdbcType=VARCHAR},
			</if>
			<if test="idCard != null">
				id_card = #{idCard,jdbcType=VARCHAR},
			</if>
			<if test="bankCode != null">
				bank_code = #{bankCode,jdbcType=VARCHAR},
			</if>
			<if test="bankAbbr != null">
				bank_abbr = #{bankAbbr,jdbcType=VARCHAR},
			</if>
			<if test="bankName != null">
				bank_name = #{bankName,jdbcType=VARCHAR},
			</if>
			<if test="payCardNo != null">
				pay_card_no = #{payCardNo,jdbcType=VARCHAR},
			</if>
			<if test="tradeTime != null">
				trade_time = #{tradeTime,jdbcType=TIMESTAMP},
			</if>
			<if test="status != null">
				status = #{status,jdbcType=CHAR},
			</if>
			<if test="traceNo != null">
				trace_no = #{traceNo,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
		</set>
		where open_id = #{openId,jdbcType=INTEGER}
	</update>

</mapper>