<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.poilt.mapper.TradeLogMapper">
  <resultMap id="BaseResultMap" type="com.poilt.pojo.TradeLog">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="trade_no" jdbcType="VARCHAR" property="tradeNo" />
    <result column="trade_amt" jdbcType="INTEGER" property="tradeAmt" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="user_cert_no" jdbcType="VARCHAR" property="userCertNo" />
    <result column="pay_card_no" jdbcType="VARCHAR" property="payCardNo" />
    <result column="trade_time" jdbcType="TIMESTAMP" property="tradeTime" />
    <result column="status" jdbcType="CHAR" property="status" />
    <result column="trace_no" jdbcType="VARCHAR" property="traceNo" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, trade_no, trade_amt, user_name, user_cert_no, pay_card_no, trade_time, status, 
    trace_no, create_time
  </sql>
  <select id="selectByExample" parameterType="com.poilt.pojo.TradeLogExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from trade_log
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from trade_log
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from trade_log
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.poilt.pojo.TradeLogExample">
    delete from trade_log
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.poilt.pojo.TradeLog">
    insert into trade_log (id, trade_no, trade_amt, 
      user_name, user_cert_no, pay_card_no, 
      trade_time, status, trace_no, 
      create_time)
    values (#{id,jdbcType=INTEGER}, #{tradeNo,jdbcType=VARCHAR}, #{tradeAmt,jdbcType=INTEGER}, 
      #{userName,jdbcType=VARCHAR}, #{userCertNo,jdbcType=VARCHAR}, #{payCardNo,jdbcType=VARCHAR}, 
      #{tradeTime,jdbcType=TIMESTAMP}, #{status,jdbcType=CHAR}, #{traceNo,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.poilt.pojo.TradeLog">
    insert into trade_log
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="tradeNo != null">
        trade_no,
      </if>
      <if test="tradeAmt != null">
        trade_amt,
      </if>
      <if test="userName != null">
        user_name,
      </if>
      <if test="userCertNo != null">
        user_cert_no,
      </if>
      <if test="payCardNo != null">
        pay_card_no,
      </if>
      <if test="tradeTime != null">
        trade_time,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="traceNo != null">
        trace_no,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="tradeNo != null">
        #{tradeNo,jdbcType=VARCHAR},
      </if>
      <if test="tradeAmt != null">
        #{tradeAmt,jdbcType=INTEGER},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userCertNo != null">
        #{userCertNo,jdbcType=VARCHAR},
      </if>
      <if test="payCardNo != null">
        #{payCardNo,jdbcType=VARCHAR},
      </if>
      <if test="tradeTime != null">
        #{tradeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        #{status,jdbcType=CHAR},
      </if>
      <if test="traceNo != null">
        #{traceNo,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.poilt.pojo.TradeLogExample" resultType="java.lang.Integer">
    select count(*) from trade_log
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update trade_log
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.tradeNo != null">
        trade_no = #{record.tradeNo,jdbcType=VARCHAR},
      </if>
      <if test="record.tradeAmt != null">
        trade_amt = #{record.tradeAmt,jdbcType=INTEGER},
      </if>
      <if test="record.userName != null">
        user_name = #{record.userName,jdbcType=VARCHAR},
      </if>
      <if test="record.userCertNo != null">
        user_cert_no = #{record.userCertNo,jdbcType=VARCHAR},
      </if>
      <if test="record.payCardNo != null">
        pay_card_no = #{record.payCardNo,jdbcType=VARCHAR},
      </if>
      <if test="record.tradeTime != null">
        trade_time = #{record.tradeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=CHAR},
      </if>
      <if test="record.traceNo != null">
        trace_no = #{record.traceNo,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update trade_log
    set id = #{record.id,jdbcType=INTEGER},
      trade_no = #{record.tradeNo,jdbcType=VARCHAR},
      trade_amt = #{record.tradeAmt,jdbcType=INTEGER},
      user_name = #{record.userName,jdbcType=VARCHAR},
      user_cert_no = #{record.userCertNo,jdbcType=VARCHAR},
      pay_card_no = #{record.payCardNo,jdbcType=VARCHAR},
      trade_time = #{record.tradeTime,jdbcType=TIMESTAMP},
      status = #{record.status,jdbcType=CHAR},
      trace_no = #{record.traceNo,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.poilt.pojo.TradeLog">
    update trade_log
    <set>
      <if test="tradeNo != null">
        trade_no = #{tradeNo,jdbcType=VARCHAR},
      </if>
      <if test="tradeAmt != null">
        trade_amt = #{tradeAmt,jdbcType=INTEGER},
      </if>
      <if test="userName != null">
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userCertNo != null">
        user_cert_no = #{userCertNo,jdbcType=VARCHAR},
      </if>
      <if test="payCardNo != null">
        pay_card_no = #{payCardNo,jdbcType=VARCHAR},
      </if>
      <if test="tradeTime != null">
        trade_time = #{tradeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=CHAR},
      </if>
      <if test="traceNo != null">
        trace_no = #{traceNo,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.poilt.pojo.TradeLog">
    update trade_log
    set trade_no = #{tradeNo,jdbcType=VARCHAR},
      trade_amt = #{tradeAmt,jdbcType=INTEGER},
      user_name = #{userName,jdbcType=VARCHAR},
      user_cert_no = #{userCertNo,jdbcType=VARCHAR},
      pay_card_no = #{payCardNo,jdbcType=VARCHAR},
      trade_time = #{tradeTime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=CHAR},
      trace_no = #{traceNo,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>