<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.poilt.mapper.fastpay.UserMapper">
	<resultMap id="UserMap" type="com.poilt.pojo.User">
		<result column="id" jdbcType="INTEGER" property="id" />
		<result column="wx_id" jdbcType="INTEGER" property="wxId" />
		<result column="user_name" jdbcType="VARCHAR" property="userName" />
		<result column="user_alias" jdbcType="VARCHAR" property="userAlias" />
		<result column="user_cert_no" jdbcType="VARCHAR" property="userCertNo" />
		<result column="open_id" jdbcType="VARCHAR" property="openId" />
		<result column="credit_rate" jdbcType="CHAR" property="creditRate" />
		<result column="history_total" jdbcType="INTEGER" property="historyTotal" />
		<result column="user_no" jdbcType="VARCHAR" property="userNo" />
		<result column="user_uuid" jdbcType="VARCHAR" property="userUuid" />
		<result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
	</resultMap>
	
	<select id="queryUserByWxid">
	select * from user where wx_id = #{wxId}
	</select>
	
	<insert id="addUser" parameterType="com.poilt.pojo.User">
	
	</insert>
	
	<update id="modifyUser" parameterType="com.poilt.pojo.User">
	
	</update>

	<select id="queryUser" resultMap="UserMap">
		select * from user
	</select>


</mapper>