<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>失败消息</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, user-scalable=no">

<meta name="description" content="失败消息">

<link rel="stylesheet" th:href="@{/lib/weui.min.css}">
<link rel="stylesheet" th:href="@{/css/jquery-weui.css}">
<link rel="stylesheet" th:href="@{/css/demos.css}">

</head>

<body ontouchstart th:inline="text">

	<div class="weui-msg">
		<div class="weui-msg__icon-area">
			<i class="weui-icon-cancel weui-icon_msg"></i>
		</div>
		<div class="weui-msg__text-area">
			<h2 class="weui-msg__title">交易异常</h2>
		</div>
		<div class="weui-msg__opr-area">
			<p class="weui-btn-area">
				<a th:href="@{/index}" class="weui-btn weui-btn_primary">继续收款</a> <a
					th:href="@{/fastpay_trade_list}" class="weui-btn weui-btn_default">交易记录</a>
			</p>
		</div>
	</div>
	<script th:src="@{/lib/jquery-2.1.4.js}"></script>
	<script th:src="@{/lib/fastclick.js}"></script>
	<script>
		$(function() {
			FastClick.attach(document.body);
		});
	</script>
	<script th:src="@{/js/jquery-weui.js}"></script>

</body>
</html>
