<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>我的信息</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, user-scalable=no">

<meta name="description" content="个人信息">

<link rel="stylesheet" href="./lib/weui.min.css">
<link rel="stylesheet" href="./css/jquery-weui.css">
<link rel="stylesheet" href="./css/demos.css">
<link rel="stylesheet" href="./css/style.css">

</head>

<body ontouchstart th:inline="text">

	<div class="weui-tab">
		<div class="weui-tab__bd">
			<div class="card_container">
				<div class="cover atvImg">
					<div class="atvImg-layer" data-img="./images/visa-bg-2.jpg"></div>
					<div class="atvImg-layer" data-img="./images/visa.png"></div>
				</div>
				<div class="card-no">[[${card == null ? '****************' : card.cardNo}]]</div>
				<div class="card-no-left">
					<span>结算周期：T+0</span><span style="padding-left: 30px;">结算费率：[[${merch?.creditRate}]]+[[${merch?.creditFee}]]</span>
				</div>
			</div>

			<div class="weui-cells">
				<div class="weui-cell">
					<div class="weui-cell__bd">
						<p>商户编号</p>
					</div>
					<div class="weui-cell__ft">
						<p>[[${merch?.merNo}]]</p>
					</div>
				</div>
				<div class="weui-cell">
					<div class="weui-cell__bd">
						<p>店铺名称</p>
					</div>
					<div class="weui-cell__ft">
						<p>[[${merch?.merName}]]</p>
					</div>
				</div>

				<a id="show-name" th:if="${merch?.tiedCard == 'N'}"
					class="weui-cell weui-cell_access" href="javascript:;">
					<div class="weui-cell__bd">
						<p>联系人</p>
					</div>
					<div class="weui-cell__ft">
						<p>[[${merch?.name}]]</p>
					</div>
				</a>
				<div class="weui-cell" th:if="${merch?.tiedCard != 'N'}">
					<div class="weui-cell__bd">
						<p>联系人</p>
					</div>
					<div class="weui-cell__ft">
						<p>[[${merch?.name}]]</p>
					</div>
				</div>
				<a id="show-idCard" th:if="${merch?.tiedCard == 'N'}"
					class="weui-cell weui-cell_access" href="javascript:;">
					<div class="weui-cell__bd">
						<p>身份证</p>
					</div>
					<div class="weui-cell__ft">
						<p>[[${merch?.idCard}]]</p>
					</div>
				</a>
				<div class="weui-cell" th:if="${merch?.tiedCard != 'N'}">
					<div class="weui-cell__bd">
						<p>身份证</p>
					</div>
					<div class="weui-cell__ft">
						<p>[[${merch?.idCard}]]</p>
					</div>
				</div>
				<a id="show-phone" th:if="${merch?.tiedCard == 'N'}"
					class="weui-cell weui-cell_access" href="javascript:;">
					<div class="weui-cell__bd">
						<p>手机号</p>
					</div>
					<div class="weui-cell__ft">
						<p>[[${merch?.phone}]]</p>
					</div>
				</a>
				<div class="weui-cell" th:if="${merch?.tiedCard != 'N'}">
					<div class="weui-cell__bd">
						<p>手机号</p>
					</div>
					<div class="weui-cell__ft">
						<p>[[${merch?.phone}]]</p>
					</div>
				</div>
				<div class='demos-content-padded' th:if="${merch?.tiedCard == 'N'}">
					<a th:href="@{/tiedCard}" class="weui-btn weui-btn_primary">结算卡绑定</a>
				</div>
			</div>
		</div>

		<div class="weui-tabbar" style="position: fixed;">
			<a th:href="@{/index}" class="weui-tabbar__item">
				<div class="weui-tabbar__icon">
					<img th:src="@{/images/pay.svg}" alt=""/>
				</div>
				<p class="weui-tabbar__label">收款</p>
			</a> <a th:href="@{/fastpay_trade_list}" class="weui-tabbar__item">
				<div class="weui-tabbar__icon">
					<img th:src="@{/images/trade.svg}" alt=""/>
				</div>
				<p class="weui-tabbar__label">收款记录</p>
			</a> <a th:href="@{/home}" class="weui-tabbar__item weui-bar__item--on">
				<div class="weui-tabbar__icon">
					<img th:src="@{/images/home_active.svg}" alt=""/>
				</div>
				<p class="weui-tabbar__label">我</p>
			</a>
		</div>
	</div>

	<script src="./lib/jquery-2.1.4.js"></script>
	<script src="./lib/fastclick.js"></script>
	<script src="./js/main.js"></script>
	<script>
		$(function() {
			FastClick.attach(document.body);
		});
	</script>
	<script src="./js/jquery-weui.js"></script>

	<script type="text/javascript" th:inline="javascript">
		$(document).on("click", "#show-name", function() {
			$.prompt({
				title : "输入姓名",
				onOK : function(text) {
					var params = {"name": text};
					updateMerch(params);
				},
				onCancel : function() {
					console.log("取消了");
				},
				input : [[${merch?.name}]]
			});
		});
		$(document).on("click", "#show-idCard", function() {
			$.prompt({
				title : "输入结算卡号",
				onOK : function(text) {
					var params = {"idCard": text};
					updateMerch(params);
				},
				onCancel : function() {
					console.log("取消了");
				},
				input : [[${merch?.idCard}]]
			});
		});
		$(document).on("click", "#show-phone", function() {
			$.prompt({
				text : "注：必需和银行预留手机号一致",
				title : "输入手机号",
				onOK : function(text) {
					var params = {"phone": text};
					updateMerch(params);
				},
				onCancel : function() {
					console.log("取消了");
				},
				input : [[${merch?.phone}]]
			});
		});
		
		function updateMerch(params){
			$.showLoading();
			$.ajax({
	    		type: 'post',
	    		url: /*[[@{/fastpay_merch_update}]]*/ + '',
	    		data: params,
	    		dataType: 'json',
	    		success: function(data){
	    			$.hideLoading();
	    			if(data.code == '200'){
	    				location.href = /*[[@{/home}]]*/
	    			}else{
	    				$.toast(data.message, "cancel");
	    			}
	    		}
	    	});
		}
	</script>
</body>
</html>
