<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
  <head>
    <title>我的信息</title>
    <meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

<meta name="description" content="Write an awesome description for your new site here. You can edit this line in _config.yml. It will appear in your document head meta (for Google search results) and in your feed.xml site description.
">

<link rel="stylesheet" href="./lib/weui.min.css">
<link rel="stylesheet" href="./css/jquery-weui.css">
<link rel="stylesheet" href="./css/demos.css">
<link rel="stylesheet" href="./css/style.css">

  </head>

  <body ontouchstart>

    <div class="weui-tab">
      <div class="weui-tab__bd">
        <div class="card_container">
			<div class="cover atvImg">
				<div class="atvImg-layer" data-img="./images/visa-bg.jpg"></div>
				<div class="atvImg-layer" data-img="./images/visa.png"></div>
			</div>
			<div class="card-no">8888********8888</div>
			<div class="card-no-left"><span>结算周期：T+0</span><span style="padding-left:30px;">结算费率：0.0045+2</span></div>
		</div>

		<div class="weui-cells">
		  <div class="weui-cell">
			<div class="weui-cell__bd">
				<p>用户编号</p>
			</div>
			<div class="weui-cell__ft">
				<p>1004050304</p>
			</div>
		  </div>
		  <div class="weui-cell">
			<div class="weui-cell__bd">
				<p>店铺名称</p>
			</div>
			<div class="weui-cell__ft">
				<p>霸王别姬店</p>
			</div>
		  </div>
		  <div class="weui-cell">
			<div class="weui-cell__bd">
				<p>联系人</p>
			</div>
			<div class="weui-cell__ft">
				<p>霸王别姬</p>
			</div>
		  </div>
		  <div class="weui-cell">
			<div class="weui-cell__bd">
				<p>身份证</p>
			</div>
			<div class="weui-cell__ft">
				<p>430623888888888888</p>
			</div>
		  </div>
		  <div class="weui-cell">
			<div class="weui-cell__bd">
				<p>手机号</p>
			</div>
			<div class="weui-cell__ft">
				<p>13688888888</p>
			</div>
		  </div>
		</div>

      </div>

      <div class="weui-tabbar" style="position: fixed;">
        <a th:href="@{/index}" class="weui-tabbar__item">
          <div class="weui-tabbar__icon">
            <img src="./images/icon_nav_button.png" alt="">
          </div>
          <p class="weui-tabbar__label">收款</p>
        </a>
        <a th:href="@{/orderList}" class="weui-tabbar__item">
          <div class="weui-tabbar__icon">
            <img src="./images/icon_nav_msg.png" alt="">
          </div>
          <p class="weui-tabbar__label">收款记录</p>
        </a>
        <a th:href="@{/home}" class="weui-tabbar__item weui-bar__item--on">
          <div class="weui-tabbar__icon">
            <img src="./images/icon_nav_cell.png" alt="">
          </div>
          <p class="weui-tabbar__label">我</p>
        </a>
      </div>
    </div>

    <script src="./lib/jquery-2.1.4.js"></script>
<script src="./lib/fastclick.js"></script>
<script src="./js/main.js"></script>
<script>
  $(function() {
    FastClick.attach(document.body);
  });
</script>
<script src="./js/jquery-weui.js"></script>

    <script>
      $("#a").select({
        title: "选择职业",
        items: ["法官", "医生", "猎人", "学生", "记者", "其他"]
      });
    </script>
  </body>
</html>
