<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>我的信息</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, user-scalable=no">

<meta name="description"
	content="信人信息">

<link rel="stylesheet" href="./lib/weui.min.css">
<link rel="stylesheet" href="./css/jquery-weui.css">
<link rel="stylesheet" href="./css/demos.css">
<link rel="stylesheet" href="./css/style.css">

</head>

<body ontouchstart th:inline="text">

	<div class="weui-tab">
		<div class="weui-tab__bd">
			<div class="card_container">
				<div class="cover atvImg">
					<div class="atvImg-layer" data-img="./images/visa-bg.jpg"></div>
					<div class="atvImg-layer" data-img="./images/visa.png"></div>
				</div>
				<div class="card-no">[[${card.cardNo}]]</div>
				<div class="card-no-left">
					<span>结算周期：T+0</span><span style="padding-left: 30px;">结算费率：[[${merch.creditRate}]]+[[${merch.creditFee}]]</span>
				</div>
			</div>

			<div class="weui-cells">
				<div class="weui-cell">
					<div class="weui-cell__bd">
						<p>商户编号</p>
					</div>
					<div class="weui-cell__ft">
						<p>[[${merch.merNo}]]</p>
					</div>
				</div>
				<div class="weui-cell">
					<div class="weui-cell__bd">
						<p>店铺名称</p>
					</div>
					<div class="weui-cell__ft">
						<p>[[${merch.merName}]]</p>
					</div>
				</div>
				<div class="weui-cell">
					<div class="weui-cell__bd">
						<p>联系人</p>
					</div>
					<div class="weui-cell__ft">
						<p>[[${merch.name}]]</p>
					</div>
				</div>
				<div class="weui-cell">
					<div class="weui-cell__bd">
						<p>身份证</p>
					</div>
					<div class="weui-cell__ft">
						<p>[[${merch.idCard}]]</p>
					</div>
				</div>
				<div class="weui-cell">
					<div class="weui-cell__bd">
						<p>手机号</p>
					</div>
					<div class="weui-cell__ft">
						<p>[[${merch.phone}]]</p>
					</div>
				</div>
			</div>

		</div>

		<div class="weui-tabbar" style="position: fixed;">
			<a th:href="@{/index}" class="weui-tabbar__item">
				<div class="weui-tabbar__icon">
					<img th:src="@{/images/pay.svg}" alt="">
				</div>
				<p class="weui-tabbar__label">收款</p>
			</a> <a th:href="@{/fastpay_trade_list}" class="weui-tabbar__item">
				<div class="weui-tabbar__icon">
					<img th:src="@{/images/trade.svg}" alt="">
				</div>
				<p class="weui-tabbar__label">收款记录</p>
			</a> <a th:href="@{/home}" class="weui-tabbar__item weui-bar__item--on">
				<div class="weui-tabbar__icon">
					<img th:src="@{/images/home_active.svg}" alt="">
				</div>
				<p class="weui-tabbar__label">我</p>
			</a>
		</div>
	</div>

	<script src="./lib/jquery-2.1.4.js"></script>
	<script src="./lib/fastclick.js"></script>
	<script src="./js/main.js"></script>
	<script>
  $(function() {
    FastClick.attach(document.body);
  });
</script>
	<script src="./js/jquery-weui.js"></script>

	<script>
      $("#a").select({
        title: "选择职业",
        items: ["法官", "医生", "猎人", "学生", "记者", "其他"]
      });
    </script>
</body>
</html>
