<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<title>收款</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, user-scalable=no">

<meta name="description" content="收款">

<link rel="stylesheet" th:href="@{/lib/weui.min.css}">
<link rel="stylesheet" th:href="@{/css/jquery-weui.css}">
<link rel="stylesheet" th:href="@{/css/demos.css}">

</head>

<body ontouchstart>
	<form id="payForm" th:action="@{/fastpay_start_pay}" method="post">
		<div class="weui-tab">
			<div class="weui-tab__bd">
				<div style="margin-top: 0px;" class="weui-cells__title">收款</div>
				<div class="weui-cells weui-cells_form">
					<div class="weui-cell">
						<div class="weui-cell__hd">
							<label class="weui-label">支付卡</label>
						</div>
						<div class="weui-cell__bd">
							<input class="weui-input" id="payCardList" name="payCardList"
								type="text" value="" placeholder="请选择支付卡"> <input
								type="hidden" id="payCardNo" name="payCardNo" value="" /> <input
								type="hidden" id="bankCode" name="bankCode" value="" /> <input
								type="hidden" id="bankAbbr" name="bankAbbr" value="" /> <input
								type="hidden" id="bankName" name="bankName" value="" />
						</div>
					</div>
					<div class="weui-cell">
						<div class="weui-cell__hd">
							<label class="weui-label">金额</label>
						</div>
						<div class="weui-cell__bd">
							<input id="tradeAmt" name="tradeAmt" class="weui-input"
								type="number" pattern="[0-9]*" placeholder="500 - 200000">
						</div>
						<div class="weui-cell__ft">
							<i class="weui-icon-warn"></i>
						</div>
					</div>
				</div>
				<div class="demos-content-padded weui-footer">
					<!-- <p class="weui-footer__text">快捷交易费率:0.0045+1.0,手续费合计:￥0.00</p> -->
					<p class="weui-footer__text">注：支付卡与结算卡必须为同一人</p>
				</div>

				<div class='demos-content-padded'>
					<a id="payMoney" href="javascript:;"
						class="weui-btn weui-btn_primary">立即支付</a> <a
						th:href="@{/tiedCreditCard}" class="weui-btn weui-btn_default">绑定支付卡</a>
				</div>
			</div>

			<div class="weui-tabbar" style="position: fixed;">
				<a th:href="@{/index}" class="weui-tabbar__item weui-bar__item--on">
					<div class="weui-tabbar__icon">
						<img th:src="@{/images/pay_active.svg}" alt="">
					</div>
					<p class="weui-tabbar__label">收款</p>
				</a> <a th:href="@{/fastpay_trade_list}" class="weui-tabbar__item">
					<div class="weui-tabbar__icon">
						<img th:src="@{/images/trade.svg}" alt="">
					</div>
					<p class="weui-tabbar__label">收款记录</p>
				</a> <a th:href="@{/home}" class="weui-tabbar__item">
					<div class="weui-tabbar__icon">
						<img th:src="@{/images/home.svg}" alt="">
					</div>
					<p class="weui-tabbar__label">我</p>
				</a>
			</div>
		</div>
	</form>
	<script th:src="@{/lib/jquery-2.1.4.js}"></script>
	<script th:src="@{/lib/fastclick.js}"></script>
	<script>
		$(function() {
			FastClick.attach(document.body);
		});
	</script>
	<script th:src="@{/js/jquery-weui.js}"></script>

	<script type="text/javascript" th:inline="javascript">
	$("#payCardList").select({
		title: "请选择支付卡",
		items: /*[[${payCardList}]]*/
	});
	$("#payMoney").click(function() {
		if($("#payCardList").val() == ""){
			$.alert("请选择支付卡！");
			return false;
		}
		var card = $("#payCardList").attr("data-values").split(",");
		var payCardNo = card[0];
		var bankCode = card[1];
		var bankAbbr = card[2];
		var bankName = card[3];
		
		var tradeAmt = $("#tradeAmt").val();
		if(tradeAmt == ""){
			$.alert("请输入金额！");
			return false;
		}
		if(tradeAmt < 500){
			$.alert("支付金额最少500！");
			return false;
		}
		if(tradeAmt > 20000){
			$.alert("支付金额最大20000！");
			return false;
		}
		var params = {
			"payCardNo": payCardNo,
			"bankCode": bankCode,
			"bankAbbr": bankAbbr,
			"bankName": bankName,
			"tradeAmt": tradeAmt
		};
		$.showLoading("正在支付...");
		$.ajax({
			type : 'post',
			url : /*[[@{/fastpay_start_pay}]]*/+'',
			data : params,
			dataType : 'json',
			success : function(data) {
				$.hideLoading();
				if (data.code == '200') {
					location.href = [[@{/paysms}]]+'?phone='+data.data
				} else {
					$.toast(data.message, "cancel");
				}
			}
		});
	});
	</script>
</body>
</html>
