<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<title>收款</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, user-scalable=no">

<meta name="description" content="收款">

<link rel="stylesheet" th:href="@{/lib/weui.min.css}">
<link rel="stylesheet" th:href="@{/css/jquery-weui.css}">
<link rel="stylesheet" th:href="@{/css/demos.css}">

</head>

<body ontouchstart>
	<form id="payForm" th:action="@{/fastpay_start_pay}" method="post">
		<div class="weui-tab">
			<div class="weui-tab__bd">
				<div style="margin-top: 0px;" class="weui-cells__title">收款</div>
				<div class="weui-cells weui-cells_form">
					<div class="weui-cell">
						<div class="weui-cell__hd">
							<label class="weui-label">开户银行</label>
						</div>
						<div class="weui-cell__bd">
							<input class="weui-input" id="bankName" name="bankName"
								type="text" value="" placeholder="开户银行">
							<input type="hidden" id="bankCode" name="bankCode" value=""/>
						</div>
					</div>
					<div class="weui-cell">
						<div class="weui-cell__hd">
							<label for="" class="weui-label">卡号</label>
						</div>
						<div class="weui-cell__bd">
							<input id="payCardNo" name="payCardNo" class="weui-input"
								type="number" pattern="[0-9]*" placeholder="支付卡号">
						</div>
					</div>
					<div class="weui-cell">
						<div class="weui-cell__hd">
							<label class="weui-label">金额</label>
						</div>
						<div class="weui-cell__bd">
							<input id="tradeAmt" name="tradeAmt" class="weui-input"
								type="number" pattern="[0-9]*" placeholder="支付金额">
						</div>
						<div class="weui-cell__ft">
							<i class="weui-icon-warn"></i>
						</div>
					</div>
				</div>
				<div class="demos-content-padded weui-footer">
					<!-- <p class="weui-footer__text">快捷交易费率:0.0045+1.0,手续费合计:￥0.00</p> -->
					<p class="weui-footer__text">注：支付卡与结算卡必须为同一人</p>
				</div>

				<div class='demos-content-padded'>
					<a id="payMoney" href="javascript:;"
						class="weui-btn weui-btn_primary">立即支付</a>
				</div>
			</div>

			<div class="weui-tabbar" style="position: fixed;">
				<a th:href="@{/index}" class="weui-tabbar__item weui-bar__item--on">
					<div class="weui-tabbar__icon">
						<img th:src="@{/images/icon_nav_button.png}" alt="">
					</div>
					<p class="weui-tabbar__label">收款</p>
				</a> <a th:href="@{/fastpay_trade_list}" class="weui-tabbar__item">
					<div class="weui-tabbar__icon">
						<img th:src="@{/images/icon_nav_msg.png}" alt="">
					</div>
					<p class="weui-tabbar__label">收款记录</p>
				</a> <a th:href="@{/home}" class="weui-tabbar__item">
					<div class="weui-tabbar__icon">
						<img th:src="@{/images/icon_nav_cell.png}" alt="">
					</div>
					<p class="weui-tabbar__label">我</p>
				</a>
			</div>
		</div>
	</form>
	<script th:src="@{/lib/jquery-2.1.4.js}"></script>
	<script th:src="@{/lib/fastclick.js}"></script>
	<script>
		$(function() {
			FastClick.attach(document.body);
		});
	</script>
	<script th:src="@{/js/jquery-weui.js}"></script>

	<script type="text/javascript" th:inline="javascript">
	$("#bankName").select({
        title: "请选择开户银行",
        items: /*[[${bankCodeList}]]*/
      });
		$("#payMoney").click(function() {
			var bankName = $("#bankName").val();
			var bankCode = $("#bankName").attr("data-values");
			$("#bankCode").val(bankCode);
			if(bankCode == ""){
				$.alert("请选择银行！");
			    return false;
			}
			var payCardNo = $("#payCardNo").val().replace(/\s/g,'');
			if(payCardNo == "") {
			    $.alert("请填写银行卡号！");
			    return false;
			}
	      if(payCardNo.length < 16 || payCardNo.length > 19) {
	          $.alert("银行卡号长度必须在16到19之间");
	          return false;
	      }
	      var num = /^\d*$/;//全数字
	      if(!num.exec(payCardNo)) {
	          $.alert("银行卡号必须全为数字！");
	          return false;
	      }
	      var tradeAmt = $("#tradeAmt").val();
	      
	      if(tradeAmt == ""){
	    	  $.alert("请输入金额！");
	    	  return false;
	      }
	      /* if(tradeAmt < 200){
	    	  $.alert("支付金额最少200！");
	    	  return false;
	      } */
	      $.showLoading("发起支付...");
			$("#payForm").submit();
	      	
		});
	</script>
</body>
</html>
