<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<title>收款记录</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, user-scalable=no">

<meta name="description"
	content="Write an awesome description for your new site here. You can edit this line in _config.yml. It will appear in your document head meta (for Google search results) and in your feed.xml site description.
">

<link rel="stylesheet" href="./lib/weui.min.css">
<link rel="stylesheet" href="./css/jquery-weui.css">
<link rel="stylesheet" href="./css/demos.css">

</head>

<body ontouchstart>

	<div class="weui-tab">
		<div class="weui-tab__bd">
			<div class="weui-pull-to-refresh__layer">
				<div class='weui-pull-to-refresh__arrow'></div>
				<div class='weui-pull-to-refresh__preloader'></div>
				<div class="down">下拉刷新</div>
				<div class="up">释放刷新</div>
				<div class="refresh">正在刷新</div>
			</div>

			<div class="weui-cells__title">收款记录</div>

			<div class="weui-cells">

				<div class="weui-cell">
					<div class="weui-cell__bd">
						<p>快捷支付</p>
						<font color="#999">2017-12-28 09:21:36</font>
					</div>
					<div class="weui-cell__ft">
						<p>
							<font color="black">￥8888.00</font>
						</p>
						<p>
							<font color="green">成功</font>
						</p>
					</div>
				</div>
				<div class="weui-cell">
					<div class="weui-cell__bd">
						<p>快捷支付</p>
						<font color="#999">2017-12-28 09:21:36</font>
					</div>
					<div class="weui-cell__ft">
						<p>
							<font color="black">￥8888.00</font>
						</p>
						<p>
							<font color="red">失败</font>
						</p>
					</div>
				</div>
				<div class="weui-cell">
					<div class="weui-cell__bd">
						<p>快捷支付</p>
						<font color="#999">2017-12-28 09:21:36</font>
					</div>
					<div class="weui-cell__ft">
						<p>
							<font color="black">￥8888.00</font>
						</p>
						<p>
							<font color="green">成功</font>
						</p>
					</div>
				</div>
				<div class="weui-cell">
					<div class="weui-cell__bd">
						<p>快捷支付</p>
						<font color="#999">2017-12-28 09:21:36</font>
					</div>
					<div class="weui-cell__ft">
						<p>
							<font color="black">￥8888.00</font>
						</p>
						<p>
							<font color="red">失败</font>
						</p>
					</div>
				</div>
				<div class="weui-cell">
					<div class="weui-cell__bd">
						<p>快捷支付</p>
						<font color="#999">2017-12-28 09:21:36</font>
					</div>
					<div class="weui-cell__ft">
						<p>
							<font color="black">￥8888.00</font>
						</p>
						<p>
							<font color="red">失败</font>
						</p>
					</div>
				</div>
				<div class="weui-cell">
					<div class="weui-cell__bd">
						<p>快捷支付</p>
						<font color="#999">2017-12-28 09:21:36</font>
					</div>
					<div class="weui-cell__ft">
						<p>
							<font color="black">￥8888.00</font>
						</p>
						<p>
							<font color="red">失败</font>
						</p>
					</div>
				</div>
				<div class="weui-cell">
					<div class="weui-cell__bd">
						<p>快捷支付</p>
						<font color="#999">2017-12-28 09:21:36</font>
					</div>
					<div class="weui-cell__ft">
						<p>
							<font color="black">￥8888.00</font>
						</p>
						<p>
							<font color="red">失败</font>
						</p>
					</div>
				</div>
				<div class="weui-cell">
					<div class="weui-cell__bd">
						<p>快捷支付</p>
						<font color="#999">2017-12-28 09:21:36</font>
					</div>
					<div class="weui-cell__ft">
						<p>
							<font color="black">￥8888.00</font>
						</p>
						<p>
							<font color="red">失败</font>
						</p>
					</div>
				</div>
				<div class="weui-cell">
					<div class="weui-cell__bd">
						<p>快捷支付</p>
						<font color="#999">2017-12-28 09:21:36</font>
					</div>
					<div class="weui-cell__ft">
						<p>
							<font color="black">￥8888.00</font>
						</p>
						<p>
							<font color="red">失败</font>
						</p>
					</div>
				</div>
				<div class="weui-cell">
					<div class="weui-cell__bd">
						<p>快捷支付</p>
						<font color="#999">2017-12-28 09:21:36</font>
					</div>
					<div class="weui-cell__ft">
						<p>
							<font color="black">￥8888.00</font>
						</p>
						<p>
							<font color="red">失败</font>
						</p>
					</div>
				</div>
				<div class="weui-cell">
					<div class="weui-cell__bd">
						<p>快捷支付</p>
						<font color="#999">2017-12-28 09:21:36</font>
					</div>
					<div class="weui-cell__ft">
						<p>
							<font color="black">￥8888.00</font>
						</p>
						<p>
							<font color="red">失败</font>
						</p>
					</div>
				</div>
				

			</div>
			<div class="weui-loadmore"  style="margin-bottom:50px;">
			  <i class="weui-loading"></i>
			  <span class="weui-loadmore__tips">正在加载</span>
			</div>
		</div>

		<div class="weui-tabbar" style="position: fixed;">
			<a th:href="@{/index}" class="weui-tabbar__item">
				<div class="weui-tabbar__icon">
					<img src="./images/icon_nav_button.png" alt=""/>
				</div>
				<p class="weui-tabbar__label">收款</p>
			</a> <a th:href="@{/orderList}"
				class="weui-tabbar__item weui-bar__item--on">
				<div class="weui-tabbar__icon">
					<img src="./images/icon_nav_msg.png" alt="">
				</div>
				<p class="weui-tabbar__label">收款记录</p>
			</a> <a th:href="@{/home}" class="weui-tabbar__item">
				<div class="weui-tabbar__icon">
					<img src="./images/icon_nav_cell.png" alt="">
				</div>
				<p class="weui-tabbar__label">我</p>
			</a>
		</div>
	</div>

	<script src="./lib/jquery-2.1.4.js"></script>
	<script src="./lib/fastclick.js"></script>
	<script>
	  $(function() {
	    FastClick.attach(document.body);
	  });
	</script>
	<script src="./js/jquery-weui.js"></script>

	<script>
	  //$(document.body).infinite(100);
	  var loading = false;  //状态标记
	  $(document.body).infinite().on("infinite", function() {
	    if(loading) return;
	    loading = true;
	    setTimeout(function() {
	    	var htm = '<div class="weui-cell">'+
					'<div class="weui-cell__bd">'+
					'<p>快捷支付</p>'+
					'<font color="#999">2017-12-28 09:21:36</font>'+
				'</div>'+
				'<div class="weui-cell__ft">'+
					'<p>'+
						'<font color="black">￥1111.00</font>'+
					'</p>'+
					'<p>'+
						'<font color="red">失败</font>'+
					'</p>'+
				'</div>'+
			'</div>';
	      $(".weui-cells").append(htm);
	      loading = false;
	    }, 1000);   //模拟延迟
	  });
	  
      $('.weui-tab__bd').pullToRefresh().on('pull-to-refresh', function (done) {
        var htm = '<div class="weui-cell">'+
						'<div class="weui-cell__bd">'+
						'<p>快捷支付</p>'+
						'<font color="#999">2017-12-28 09:21:36</font>'+
					'</div>'+
					'<div class="weui-cell__ft">'+
						'<p>'+
							'<font color="black">￥6666.00</font>'+
						'</p>'+
						'<p>'+
							'<font color="red">失败</font>'+
						'</p>'+
					'</div>'+
				'</div>';
    	$('.weui-cells').append(htm);
    	var self = this;
        setTimeout(function() {
          $(self).pullToRefreshDone();
        }, 1000)
      })
    </script>
</body>
</html>
