<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>卡片信息</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, user-scalable=no">

<meta name="description" content="快捷支付短信验证">

<link rel="stylesheet" th:href="@{/lib/weui.min.css}">
<link rel="stylesheet" th:href="@{/css/jquery-weui.css}">
<link rel="stylesheet" th:href="@{/css/demos.css}">

</head>

<body ontouchstart th:inline="text">
	<form id="tiedCardForm" th:action="@{/fastpay_tiedCreditCard}"
		method="post">
		<div class="weui-tab">
			<div class="weui-tab__bd">
				<div style="margin-top: 0px;" class="weui-cells__title">卡片信息</div>
				<div class="weui-cells weui-cells_form">
					<div class="weui-cell">
						<div class="weui-cell__hd">
							<label class="weui-label">开户银行</label>
						</div>
						<div class="weui-cell__bd">
							<input class="weui-input" id="bankName" name="bankName"
								type="text" value="" placeholder="开户银行"> <input
								type="hidden" id="bankCode" name="bankCode" value="" /> <input
								type="hidden" id="bankAbbr" name="bankAbbr" value="" />
						</div>
					</div>
					<div class="weui-cell">
						<div class="weui-cell__hd">
							<label for="" class="weui-label">卡号</label>
						</div>
						<div class="weui-cell__bd">
							<input id="cardNo" name="cardNo" class="weui-input"
								type="number" pattern="[0-9]*" placeholder="支付卡号">
						</div>
					</div>
				</div>

				<div class='demos-content-padded'>
					<a id="tiedCreditCard" href="javascript:;"
						class="weui-btn weui-btn_primary">绑卡</a>
					<a th:href="@{/index}" class="weui-btn weui-btn_default">返回首页</a>
				</div>
			</div>
	</form>
	<script th:src="@{/lib/jquery-2.1.4.js}"></script>
	<script th:src="@{/lib/fastclick.js}"></script>
	<script>
		$(function() {
			FastClick.attach(document.body);
		});
	</script>
	<script th:src="@{/js/jquery-weui.js}"></script>

	<script type="text/javascript" th:inline="javascript">
		$("#bankName").select({
	        title: "请选择开户银行",
	        items: /*[[${bankCodeList}]]*/
	    });
		$("#tiedCreditCard").click(function() {
			var card = $("#bankName").attr("data-values").split(",");
			$("#bankCode").val(card[0]);
			$("#bankAbbr").val(card[1]);
			$("#tiedCardForm").submit();
		}); 
	</script>
</body>
</html>
