<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>卡片信息</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, user-scalable=no">

<meta name="description" content="快捷支付短信验证">

<link rel="stylesheet" th:href="@{/lib/weui.min.css}">
<link rel="stylesheet" th:href="@{/css/jquery-weui.css}">
<link rel="stylesheet" th:href="@{/css/demos.css}">

</head>

<body ontouchstart th:inline="text">
	<form id="tiedCardForm" th:action="@{/fastpay_tiedcard}">
		<div class="weui-tab">
			<div class="weui-tab__bd">
				<div style="margin-top: 0px;" class="weui-cells__title">卡片信息</div>
				<div class="weui-cells weui-cells_form">
					<div class="weui-cell">
						<div class="weui-cell__hd">
							<label class="weui-label">卡号</label>
						</div>
						<div class="weui-cell__bd">
							[[${cardNo}]]
							<input class="weui-input" type="hidden" id="cardNo" name="cardNo" th:value="${cardNo}">
						</div>
					</div>
					<div class="weui-cell">
						<div class="weui-cell__hd">
							<label class="weui-label">cvn2</label>
						</div>
						<div class="weui-cell__bd">
							<input id="cvn2" name="cvn2" class="weui-input" type="number" placeholder="卡背面后三位数字">
						</div>
					</div>
					<div class="weui-cell">
						<div class="weui-cell__hd">
							<label class="weui-label">卡有效期</label>
						</div>
						<div class="weui-cell__bd">
							<input id="expired" name="expired" class="weui-input" type="number" placeholder="如:12/24,输入1224">
						</div>
					</div>
				</div>

				<div class='demos-content-padded'>
					<a id="tiedCreditCard" href="javascript:;"
						class="weui-btn weui-btn_primary">下一步</a>
				</div>
			</div>
	</form>
	<script th:src="@{/lib/jquery-2.1.4.js}"></script>
	<script th:src="@{/lib/fastclick.js}"></script>
	<script>
		$(function() {
			FastClick.attach(document.body);
		});
	</script>
	<script th:src="@{/js/jquery-weui.js}"></script>

	<script type="text/javascript" th:inline="javascript">
		$("#bankName").select({
	        title: "请选择开户银行",
	        items: /*[[${bankCodeList}]]*/
	      });
		$("#tiedCreditCard").click(function() {
			$.showLoading();
			var params = {
					"cardNo": $("#cardNo").val(),
					"cvn2": $("#cvn2").val(),
					"expired": $("#expired").val()
			};
			$.ajax({
	    		type: 'post',
	    		url: /*[[@{/fastpay_tiedCreditCard}]]*/ + '',
	    		data: params,
	    		dataType: 'json',
	    		success: function(data){
	    			$.hideLoading();
	    			if(data.code == '200'){
	    				location.href = /*[[@{/paysms}]]*/ + '';
	    			}else{
	    				$.toast(data.message, "cancel");
	    			}
	    		}
	    	});
		});
	</script>
</body>
</html>
